<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech2etc Ecommerce Tutorial</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />

    <link rel="stylesheet" href="style.css">
</head>

<body>

    <section id="header">
        <a href="#"><img src="img/logo.jpg" class="logo" alt=""></a>

        <div>
            <ul id="navbar">
                <li><a href="/">Home</a></li>
                <li><a href="/shop">Shop</a></li>
                <li><a class="active" href="/blog">Blog</a></li>
                 <li><a href="/contact">Contact</a></li>
                <li id="lg-bag"><a href="/cart"><i class="far fa-shopping-bag"></i></a></li>
                <a href="#" id="close"><i class="far fa-times"></i></a>
            </ul>
        </div>
        <div id="mobile">
            <a href="/cart"><i class="far fa-shopping-bag"></i></a>
            <i id="bar" class="fas fa-outdent"></i>
        </div>
    </section>

    <section id="page-header" class="blog-header">

        <h2>#readmore</h2>

        <p>Read all case studies about our products! </p>

    </section>

    <section id="blog">
        <div class="blog-box">
            <div class="blog-img">
                <img src="img/blog/art 1.jpg" alt="">
            </div>
            <div class="blog-details">
                <h4>A marble statue of Aphrodite from the Roman Empire (1st century AD)</h4>
                <p>one of the rare complete Roman copies of the original Greek statue (420-430 BC). It was part of the Cesi collection before being acquired by the Duke of Northumberland in 1773, with an estimated value of $6.75–10.1 million.</p>
               <a href="#">CONTINUE READING</a>
            </div>
            <h1>13/01</h1>
        </div>
        <div class="blog-box">
            <div class="blog-img">
                <img src="img/blog/art2.jpg" alt="">
            </div>
            <div class="blog-details">
                <h4>A painting from Andrea del Verrocchio’s workshop</h4>
                <p> dated around 1470 AD, previously attributed to Leonardo da Vinci, focusing on the luxurious attire of a kneeling figure. Estimated at $2.5–3.37 million, it is one of only two privately owned pieces, while the rest of the 16-painting collection resides in prestigious European museums.</p>
                <a href="#">CONTINUE READING</a>
            </div>
            <h1>13/04</h1>
        </div>
        <div class="blog-box">
            <div class="blog-img">
                <img src="img/blog/art3.jpg" alt="">
            </div>
            <div class="blog-details">
                <h4>A tower-shaped clock </h4>
                <p>gilded with pure Swiss gold from the era of King George III (circa 1790), specially designed for Chinese emperors, featuring musical chimes every quarter-hour. Estimated value: $1.7–2.5 million.</p>
                <a href="#">CONTINUE READING</a>
            </div>
            <h1>12/01</h1>
        </div>
        <div class="blog-box">
            <div class="blog-img">
                <img src="img/blog/art4.jpeg" alt="">
            </div>
            <div class="blog-details">
                <h4>The Bust of Nefertiti (1345 BC)</h4>
                <p> is a painted limestone sculpture over 3,300 years old, crafted by the Egyptian sculptor Thutmose for Queen Nefertiti, wife of Pharaoh Akhenaten. It is one of the most famous ancient Egyptian artifacts and a global symbol of feminine beauty.</p>
                <a href="#">CONTINUE READING</a>
            </div>
            <h1>16/01</h1>
        </div>
        
    </section>

    <section id="pagination" class="section-p1">
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#"><i class="fal fa-long-arrow-alt-right"></i></a>
    </section>

    <section id="newsletter" class="section-p1 section-m1">
        <div class="newstext">
            <h4>Sign Up For Newsletters</h4>
            <p>Get E-mail updates about our latest shop and <span>special offers.</span> </p>
        </div>
        <div class="form">
            <input type="text" placeholder="Your email address">
            <button class="normal">Sign Up</button>
        </div>
    </section>

    <footer class="section-p1">
        <div class="col">
            <img class="logo" src="img/logo.jpg" alt="">
            <h4>Contact</h4>
            <p><strong>Phone:</strong> +01 2222 365 /(+91) 01 2345 6789</p>
            <p><strong>Hours:</strong> 10:00 - 18:00, Mon - Sat</p>
            <div class="follow">
                <h4>Follow Us</h4>
                <div class="icon">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-pinterest-p"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>

        <div class="col">
            <h4>About</h4>
            <a href="#">About Us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Contact Us</a>
        </div>

        <div class="col">
            <h4>My Account</h4>
            <a href="#">Sign In</a>
            <a href="#">View Cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Track My Order</a>
            <a href="#">Help</a>
        </div>

        <div class="col install">
            <h4>Install App</h4>
            <p>From App Store or Google Play</p>
            <div class="row">
                <img src="img/pay/app.jpg" alt="">
                <img src="img/pay/play.jpg" alt="">
            </div>
            <p>Secured Payment Gateways </p>
            <img src="img/pay/pay.png" alt="">
        </div>

        <div class="copyright">
            <p>© 2025-Group4</p>        </div>
    </footer>


    <script src="script.js"></script>
</body>

</html>