<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
</head>

<body>

    <section id="header">
        <a href="#"><img src="img/jpg.png" class="logo" alt=""></a>
        <div>
            <ul id="navbar">
                <li><a href="/">Home</a></li>
                <li><a href="/shop">Shop</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/contact">Contact</a></li>
                <li id="lg-bag"><a href="/cart"><i class="far fa-shopping-bag"></i></a></li>
                <a href="#" id="close"><i class="far fa-times"></i></a>
            </ul>
        </div>
    </section>

    <section class="forms-section">
        <h1 class="section-title">Sign Up</h1>
        <form class="form form-signup" action="/signup" method="post">
            <div class="input-block">
                <label for="signup-email">E-mail</label>
                <input id="signup-email" type="email" name="email" required>
            </div>
            <div class="input-block">
                <label for="signup-password">Password</label>
                <input id="signup-password" type="password" name="password" required>
            </div>
            <div class="input-block">
                <label for="signup-password-confirm">Confirm Password</label>
                <input id="signup-password-confirm" type="password" name="passwordConfirm" required>
            </div>
            <button type="submit" class="btn-signup">Sign Up</button>
            <p> Do You have account?<a href="/signin">Sing in </a></p>
        </form>
    </section>

    <footer class="section-p1">
        <!-- Footer content same as before -->
    </footer>

    <script src="script.js"></script>
</body>

</html>