<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <section id="header">
        <a href="#"><img src="img/logo.jpg" class="logo" alt=""></a>
        <div>
            <ul id="navbar">
                <li><a href="/">Home</a></li>
                <li><a href="/shop">Shop</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/contact">Contact</a></li>
                <li id="lg-bag"><a href="/cart"><i class="far fa-shopping-bag"></i></a></li>
                <a href="#" id="close"><i class="far fa-times"></i></a>
            </ul>
        </div>
    </section>

    <section class="forms-section">
        <h1 class="section-title">Sign In</h1>
        <form class="form form-login" action="/signin" method="post">
            <div class="input-block">
                <label for="login-email">E-mail</label>
                <input id="login-email" type="email" name="email" required>
            </div>
            <div class="input-block">
                <label for="login-password">Password</label>
                <input id="login-password" type="password"  name="password" required>
            </div>
            <button type="submit" class="btn-login">Sign In</button>
            <p> New account <a href="/signup">Sing up </a></p>
        </form>
    </section>

    <footer class="section-p1">
        <div class="col">
            <img class="logo" src="img/logo.jpg" alt="">
            <h4>Contact</h4>
            <p><strong>Phone:</strong> +01 2222 365 /(+91) 01 2345 6789</p>
            <p><strong>Hours:</strong> 10:00 - 18:00, Mon - Sat</p>
        </div>
        <!-- Additional footer content -->
    </footer>
</body>

</html>