<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech2etc Ecommerce Tutorial</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />

    <link rel="stylesheet" href="style.css">
</head>

<body>

    <section id="header">
        <a href="#"><img src="img/logo.jpg" class="logo" alt=""></a>

        <div>
            <ul id="navbar">
                <li><a href="/">Home</a></li>
                <li><a class="active" href="/shop">Shop</a></li>
                <li><a href="/blog">Blog</a></li>
                 <li><a href="/contact">Contact</a></li>
                <li id="lg-bag"><a href="/cart"><i class="far fa-shopping-bag"></i></a></li>
                <a href="#" id="close"><i class="far fa-times"></i></a>
            </ul>
        </div>
        <div id="mobile">
            <a href="/cart"><i class="far fa-shopping-bag"></i></a>
            <i id="bar" class="fas fa-outdent"></i>
        </div>
    </section>

    <section id="page-header">

        <h2>Get the Best Prices, Buy Now!</h2>

        <p>Save more with coupons & up to 70% off!</p>

    </section>




    <section id="product1" class="section-p1">
        <h2>New Arrivals</h2>
        <p>Catch it now before the clock runs out!</p>
        <div class="pro-container">
            <div class="pro">
                <img src="img/products/img9.webp" alt="">
                <div class="des">
                    <span>Antiquities</span>
                    <h5>Antique Chinese Bell Crafts</h5>
                    <h5>2-Piece Set of Antique Chinese Bell Crafts - Exquisite Metal Tabletop Decor, Perfect for
                        Enhancing Home, Garden, and Ideal as Holiday Gifts.</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>

                    <h4>Starting Price: $25</h4>
                </div>
                 <a class="add-to-cart" data-id="1" data-name="Antique Chinese Bell Crafts" data-price="25"
                    data-image="img/products/img9.webp">
                    <i class="fal fa-shopping-cart cart"></i>
                </a>
            </div>

            <div class="pro">
                <img src="img/products/img10.webp" alt="">
                <div class="des">
                    <span>Antiquities</span>
                    <h5>Antique Chinese Bell Crafts</h5>
                    <h5>CVintage Typewriter Model Decorative Statue - Creative Metal Art with a Geometric Theme. This
                        versatile piece is perfect for enhancing your home or bar, making it an ideal decoration for
                        Christmas, Halloween, Easter, Thanksgiving, and Father's Day. No power required.</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>

                    <h4>Starting Price: $25</h4>
                </div>
                 <a class="add-to-cart" data-id="1" data-name="CVintage Typewriter "
                    data-price="25" data-image="img/products/img10.webp">
                    <i class="fal fa-shopping-cart cart"></i>
                </a>
            </div>
            <div class="pro">
                <img src="img/products/img11.webp" alt="">
                <div class="des">
                    <span>Antiquities</span>
                    <h5>Room Decor Retro Resin Telephone Wall Art - Vintage-Style Decorative Phone with an Antique Black
                        Design. Ideal for adding a unique touch to coffee shops, bars, restaurants, and home decor.</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Starting Price:$12</h4>
                </div>
                <a class="add-to-cart" data-id="2" data-name="Room Decor Retro Resin Telephone Wall Ar" data-price="12"
                    data-image="img/products/img11.webp">
                    <i class="fal fa-shopping-cart cart"></i>
                </a>
            </div>
            <div class="pro">
                <img src="img/products/img12.webp" alt="">
                <div class="des">
                    <span>Antiquities</span>
                    <h5>Vintage Gramophone Music Box Collectible Figurine - Handcrafted Wooden Design, Perfect for Both
                        Indoor and Outdoor Decor. No Electricity Needed.</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$Starting Price:$75</h4>
                </div>
                <a class="add-to-cart" data-id="3" data-name="Gramophone Music Box Collectible Figurine"
                    data-price="75" data-image="img/products/img12.webp">
                    <i class="fal fa-shopping-cart cart"></i>
            </div>
            <div class="pro-container">
                <div class="pro">
                    <img src="img/products/img1.webp" alt="">
                    <div class="des">
                        <span>Antiquities</span>
                        <h5>Vintage Antique Oil Lamp Metal Tin Sign, Elegant Embossed Floral Pattern, Metal Wall Art
                            Decor for Home</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>Starting Price:$30</h4>
                    </div>
                    <a class="add-to-cart" data-id="4" data-name=" Oil Lamp Metal Tin Sign"
                        data-price="30" data-image="img/products/img1.webp">
                        <i class="fal fa-shopping-cart cart"></i>
                </div>
                <div class="pro">
                    <img src="img/products/img2.webp" alt="">
                    <div class="des">
                        <span>Antiquities</span>
                        <h5>Classic Acrylic Camel with Luggage Tabletop Decor, Multipurpose Animal Theme Decoration, No
                            Electricity Needed, Ideal for St. Patrick'S Day, Valentine's, Christmas, Ramadan & New Year
                            Gifts</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>Starting Price:$15</h4>
                    </div>
                    <a class="add-to-cart" data-id="5" data-name="  Camel with Luggage Tabletop Decor"
                        data-price="15" data-image="img/products/img2.webp">
                        <i class="fal fa-shopping-cart cart"></i>
                </div>
                <div class="pro">
                    <img src="img/products/img3.webp" alt="">
                    <div class="des">
                        <span>Antiquities</span>
                        <h5>Retro Egypt Mummy Statue, Resin Ancient Egyptian Coffin Figurine Sculpture Small Ornaments
                            Miniature Model</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>Starting Price:$50</h4>
                    </div>
                    <a class="add-to-cart" data-id="6" data-name="Retro Egypt Mummy Statue" data-price="50"
                        data-image="img/products/img3.webp">
                        <i class="fal fa-shopping-cart cart"></i>
                </div>
                <div class="pro">
                    <img src="img/products/img4.webp" alt="">
                    <div class="des">
                        <span>Antiquities</span>
                        <h5>An antique cone with an elegant and chic design, crafted from the finest materials. It
                            features multiple drawers and shelves for storage, making it a versatile piece that can be
                            used in various settings.</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>Starting Price:$60</h4>
                    </div>
                    <a class="add-to-cart" data-id="7" data-name="crafted from the finest materials"
                        data-price="60" data-image="img/products/img4.webp">
                        <i class="fal fa-shopping-cart cart"></i>
                </div>
                <div class="pro">
                    <img src="img/products/img5.webp" alt="">
                    <div class="des">
                        <span>Antiquities</span>
                        <h5>Vintage-Style Decorative Metal Sign featuring an Antique Telephone with Brass Components and
                            an Aged Wooden Base. Perfect for adding a touch of elegance to weddings, bridal showers,
                            birthdays, bachelorette parties, and anniversary celebrations</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>Starting Price:$10</h4>
                    </div>
                    <a class="add-to-cart" data-id="8" data-name=" Decorative Metal Sign" data-price="10"
                        data-image="img/products/img5.webp">
                        <i class="fal fa-shopping-cart cart"></i>
                </div>
                <div class="pro">
                    <img src="img/products/img6.webp" alt="">
                    <div class="des">
                        <span>Antiquities</span>
                        <h5>Deer Antler with a unique and elegant design, featuring 39 beads measuring 12 mm × 12 mm,
                            with a total weight of 48.5 grams. Perfect for those who appreciate luxurious details.</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>Starting Price:$40</h4>
                    </div>
                    <a class="add-to-cart" data-id="9" data-name="Deer Antler "
                        data-price="40" data-image="img/products/img6.webp">
                        <i class="fal fa-shopping-cart cart"></i>
                </div>
                <div class="pro">
                    <img src="img/products/img7.webp" alt="">
                    <div class="des">
                        <span>Antiquities</span>
                        <h5>Egyptian Pharaoh Pyramid Tutankhamun Statue - A Stunning Piece of Archaeological Art.
                            Crafted from durable faux copper resin, this versatile statue serves as a striking accent
                            for indoor or outdoor home decor.</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>Starting Price:$70</h4>
                    </div>
                    <a class="add-to-cart" data-id="10" data-name="Egyptian Pharaoh Pyramid Tutankhamun"
                        data-price="70" data-image="img/products/img7.webp">
                        <i class="fal fa-shopping-cart cart"></i>
                </div>
                <div class="pro">
                    <img src="img/products/img8.webp" alt="">
                    <div class="des">
                        <span>Antiquities</span>
                        <h5>Vintage Leather Journal Notebook with Matte Finish and Plain Pages - Featuring an Antique
                            Pirate-Themed Nautical Compass Design. This Hardcover Writing Diary includes a Metal Clasp
                            Closure and Spiral Ring Binder for added durability and style.</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>Starting Price:$65</h4>
                    </div>
                    <a class="add-to-cart" data-id="11"
                        data-name="Vintage Leather Journal Notebook with Matte Finish and Plain Pages" data-price="65"
                        data-image="img/products/img8.webp">
                        <i class="fal fa-shopping-cart cart"></i>
                </div>
            </div>
    </section>

    <section id="pagination" class="section-p1">
        <a href="#">1</a>
        
        <a href="#"><i class="fal fa-long-arrow-alt-right"></i></a>
    </section>
 

   
<footer>
        <div class="col install">
            <h4>Install App</h4>
            <p>From App Store or Google Play</p>
            <div class="row">
                <img src="img/pay/app.jpg" alt="">
                <img src="img/pay/play.jpg" alt="">
            </div>
            <p>Secured Payment Gateways </p>
            <img src="img/pay/pay.png" alt="">
        
    </footer>


    <script src="script.js"></script>
</body>

</html>